
.metro-sty{
    font-weight: bold;
}

.
.space-top{
    margin-top: 30px;
}
.space-top-m strong {
    color: white;
}
.accont-sty{
    color: #38b1e2;
    font-weight: bold;
}


.car-pad{
    margin-bottom: 110px !important;
}

@media only screen and (max-width: 640px) and (min-width: 360px){
    .sty-h-loc {
    font-size: 15px;
    margin-left: 5px;
    font-weight: bold;
}
.space-top{
    margin-left: 5px !important;
    }
    .space-top-m{
    margin-left: 20px !important;
    }
}
